{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Домашняя страница{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'homework/css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header class="head">
  <h1><a href="{% url 'home' %}">Homework Template Checker</a></h1>
  <nav>
    <ul>
      {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Профиль</a></li>
        <li><a href="{% url 'logout' %}">Выйти</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Войти</a></li>
        <li><a href="{% url 'register' %}">Регистрация</a></li>
      {% endif %}
      <li><a href="{% url 'homework_list' %}">Домашние задания</a></li>
    </ul>
  </nav>
</header>
<main>
  {% block content %}{% endblock %}
</main>
</body>
</html>
