{% extends "homework/base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
  <h1>Класс {{ classroom.name }}</h1>

  <h2>Учитель</h2>
  {% if teacher_profile %}
    <p>{{ teacher_profile.last_name }} {{ teacher_profile.first_name }}
       ({{ teacher_profile.get_role_display }})</p>
  {% else %}
    <p>Профиль учителя не заполнен.</p>
  {% endif %}

  <h2>Ученики</h2>
  <ul class="class_students">
    {% for student in students %}
      <li>
        <p>{{ student.last_name }} {{ student.first_name }}</p>
      </li>
    {% empty %}
      <li><p>В этом классе пока нет учеников.</p></li>
    {% endfor %}
  </ul>
{% endblock %}
