<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
  <h1>Homework Template Checker</h1>
  <nav>
      <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Профиль</a></li>
            <li><a href="{% url 'homework_list' %}">Домашние задания</a></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
          {% endif %}
          <li><a href="{% url 'check_demo' %}">Демонстрация домашнего задания</a></li>
      </ul>
  </nav>
</body>
</html>