{% extends "homework/base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <h1>Профиль</h1>
    <p>{{ profile.last_name }} {{ profile.first_name }} {{ profile.patronymic }}</p>
    <p><strong>Дата рождения:</strong> {{ profile.birth_date }}</p>
    <p><strong>Роль:</strong> {{ profile.get_role_display }}</p>

    <div class="profile_classes">
        <h2>Мои классы</h2>
         {% if profile.role == "teacher" %}
            <ul>
              {% for cls in teacher_classes %}
                <li><a href="{% url 'classroom_detail' cls.id %}">{{ cls.name }}</a></li>
              {% empty %}
                <li>Нет классов</li>
              {% endfor %}
            </ul>
        {% else %}
            <ul>
              {% for cls in student_classes %}
                <li><a href="{% url 'classroom_detail' cls.id %}">{{ cls.name }}</a></li>
              {% empty %}
                <li>Нет классов</li>
              {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
