{% extends "homework/base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<section class="page">
  <div class="page__container">

    <header class="page__header">
      <h1 class="page__title">Профиль</h1>
    </header>

    <div class="card">
      <div class="profile">
        <div class="profile__name">
          {{ profile.last_name }} {{ profile.first_name }} {{ profile.patronymic }}
        </div>

        <dl class="profile__meta">
          <div class="profile__row">
            <dt>Дата рождения</dt>
            <dd>{{ profile.birth_date }}</dd>
          </div>
          <div class="profile__row">
            <dt>Роль</dt>
            <dd>{{ profile.get_role_display }}</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="card">
      {% if profile.role == "teacher" %}
        <header class="page__header page__header--row">
          <h2 class="card__title">Мои классы</h2>
          <a class="btn btn--primary" href="{% url 'classroom_create' %}">Создать класс</a>
        </header>
      {% else %}
        <h2 class="card__title">Мой класс</h2>
      {% endif %}

      {% if profile.role == "teacher" %}
        <ul class="chips">
          {% for cls in teacher_classes %}
            <li class="chips__item">
              <a class="chip" href="{% url 'classroom_detail' cls.id %}">{{ cls.name }}</a>
            </li>
          {% empty %}
            <li class="muted">Нет классов</li>
          {% endfor %}
        </ul>
      {% else %}
        {% if student_class %}
          <ul class="chips">
            <li class="chips__item">
              <a class="chip" href="{% url 'classroom_detail' student_class.id %}">{{ student_class.name }}</a>
            </li>
          </ul>
        {% else %}
          <p class="muted">Нет класса</p>
        {% endif %}
      {% endif %}
    </div>
    {% if profile.role == "student" %}
    <div class="card">
        <header class="page__header page__header--row">
          <h2 class="card__title">Моя успеваемость</h2>
        </header>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
